img {
    display: block;
    height: auto;
    max-width: 100%;
    align-items: center;
  }

 h1,p{
    text-align: center;
    color: rgb(255, 149, 0);
 } 

 body{
    background-color: antiquewhite;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 }
